/* Text Colors Classes */
.primary-text {
	/* Blue */
	color: $primary500;
}

.accent-text {
	/* Deep Purple */
	color: $accent;
}

.white-text {
	/* White */
	color: #ffffff;
}

.red-text {
	/* White */
	color: $red500;
}

.main-text {
	/* Dark Text */
	color: $main-text;
}

.secondary-text {
	/* Grey Text */
	color: $secondary-text;
}

/* Text Alignments */
.left-text {
	text-align: left;
}

.center-text {
	text-align: center;
}

.right-text {
	text-align: right;
}

/* Font Weights*/
.weight-300{
	font-weight: 300;
}

.weight-200{
	font-weight: 200;
}

.weight-100{
	font-weight: 100;
}

.main-view {
	/* main ui-router view */
	min-height: 100vh;
	position: relative;
	overflow: auto;
}

/* Stretch to full height */
.full-height-min {
	min-height: 100vh;
}
/* Max height 100% of viewport*/
.full-height-max {
	max-height: 100vh;
}

.full-width-min{
	min-width: 100%;
}

/* Toolbar Background */
md-toolbar{
	&.white-toolbar {
		background-color: white;
	}
	&.dark-toolbar{
		background: rgb(48,48,48);
	}
}

.site-logo {
	img{
		/*max-width: 35%;
		max-height: 100%;*/
		width: 200px;
	}

	&.page-not-found{
		width: 80px;
	}
}

.personiv-logo {
	height:110px;
}

.no-opacity{
	opacity: 0;
}

.max-opacity{
	opacity: 1;
}

#main{
	/*background: url('/img/StockSnap_13UNSPJHCZ.jpg');*/
	background-size: cover;
	transition: all 1s;
}

.main-content{
	background: rgba(#212121, 0.5);
}

/* Background colors */
md-content.dirty-white{
	background: #e9ebee;
}

.primary-bg{
	background: $primary500;
}

.accent-bg{
	background: $accent;
}

.red-bg{
	background: $red500;
}


.blur-white{
	background: rgba(white,0.1);
}

.badge{
	background: $red500;
}

.form{
	width: 300px;
}

.form-medium{
	width: 450px;
}

.form-large{
	width: 600px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.md-button.md-fab.z-index-75{
	z-index: 75;
}

.no-padding{
	padding: 0px;
}

.pattern{
	@extend .hint;
	bottom: -10px !important;
	color: $red500 !important;
}

.drop-menu{
	overflow: hidden;
	max-height:0;
	-webkit-transition: max-height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -o-transition: max-height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition: max-height 0.75s cubic-bezier(0.35, 0, 0.25, 1);

    /*.active{
    	background: rgba(white,0.1);
    }*/
}

.rotate-icon{
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}

.active {
	/*.section-button-container{
		background: rgba(white,0.1);
	}*/
	.drop-menu{
		height: auto;
		max-height: 10000px;
		overflow: hidden;

		-webkit-transition: max-height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
	    -o-transition: max-height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
	    transition: max-height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
	}
	.rotate-icon{
		-webkit-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);

		-webkit-transition: -webkit-transform 0.3s ease-in-out;
		-o-transition: -o-transform 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out;
	}
}

.round {
	border-radius: 50%;
}


.hint {
     /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 4px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
}
.hint.ng-hide, .hint.ng-enter, .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0;
}
.hint.ng-leave, .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1;
}

.pattern.ng-hide, .pattern.ng-enter, .pattern.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0;
}
.pattern.ng-leave, .pattern.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1;
}

.hide-overflow{
	overflow: hidden;
}

.overflow-y-hidden{
	overflow-y: hidden;
}

.validation-messages{
	font-size: 12px;
    color: $red500;
    margin: 10px 0 0 25px;
}

.avatar{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.static{
	/*&:hover{
		color: white;
	}*/
}

.pages{
	overflow: hidden;
	max-height:0;
	-webkit-transition: max-height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -o-transition: max-height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition: max-height 0.75s cubic-bezier(0.35, 0, 0.25, 1);

    .active .secondary-text{
    	/*background: rgba(white,0.1);*/
    	color: $primary500;
    }
}

.rotate-icon{
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}

.active {
	.pages{
		height: auto;
		max-height: 1000px;
		overflow: hidden;

		-webkit-transition: max-height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
	    -o-transition: max-height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
	    transition: max-height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
	}
	.rotate-icon{
		-webkit-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);

		-webkit-transition: -webkit-transform 0.3s ease-in-out;
		-o-transition: -o-transform 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out;
	}
}

.thumb{
	width:200px;
	max-width:200px;
}

.fc-event-container{
	cursor:pointer;
}

.drop-zone{
	height: 100%;
	img{
		width:150px;
	}
}

.gallery{
	height:400px !important;

	img{
		height:250px !important;
		object-fit: contain !important;
	}
}

.avatar-icon{
	width: 36px;
	height: 36px;
	border-radius:50%;
	margin: 5px;
}

md-content.autocomplete {
  min-height: 250px; 
}

md-content.autocomplete input {
    min-width: 400px; 
}

.md-item-text.compact {
  	padding-top: 8px;
  	padding-bottom: 8px;
}

.contact-item {
  	box-sizing: border-box;
}

.contact-item.selected {
    opacity: 0.5;
}

.contact-item.selected h3 {
    opacity: 0.5;
}

.contact-item .md-list-item-text {
    padding: 14px 0;
    max-width: 190px;
}

.contact-item .md-list-item-text h3 {
    margin: 0 !important;
    padding: 0;
    line-height: 1.2em !important;
}

.contact-item .md-list-item-text h3, .contact-item .md-list-item-text p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 960px) {
    .contact-item {
    	float: left;
      	width: 33%;
    }
}

md-contact-chips {
  	margin-bottom: 10px;
}

.md-chips {
	padding: 5px 0 8px; 
}

.fixedRows {
  	height: 250px;
  	overflow: hidden; 
}

.primary-border-left {
	border-left: 3px solid $primary500;
}