/* Light Blue - Pink */
$primary500: #3F51B5;
$primary700: #303F9F;
$primary100: #C5CAE9;

$accent: #FFC107;

$main-text: #212121;
$secondary-text: #757575;
$divider: #BDBDBD;

$red500: #F44336;
$orange500: #FF9800;
$teal500: #009688;

